*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
Manifest.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
_research/
data/
notebook/
scripts/debug_job.jl
LocalPreferences.toml
/benchmark/
scripts/postprocessing.ipynb
